<link rel="canonical" href="https://laurentperrinet.github.io/" />
<link rel="me" href="https://neuromatch.social/@laurentperrinet" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml">

{{ if eq .Type "publication" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ScholarlyArticle",
  "headline": {{ .Title | jsonify }},
  "datePublished": {{ .Date.Format "2006-01-02" | jsonify }},
  "url": {{ .Permalink | jsonify }},
  "description": {{ .Params.abstract | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Laurent Perrinet",
    "identifier": "http://orcid.org/0000-0002-9536-010X"
  },
  {{ with .Params.doi }}"sameAs": "https://doi.org/{{ . }}"{{ end }}
}
</script>
{{ end }}
