<link rel="canonical" href="https://laurentperrinet.github.io/" />
<link rel="me" href="https://neuromatch.social/@laurentperrinet" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml">

{{ if .IsPage }}
  <meta property="og:title" content="{{ .Title }}" />
  <meta name="twitter:title" content="{{ .Title }}" />

  {{ $description := .Params.abstract | default .Description }}
  {{ if $description }}
    <meta property="og:description" content="{{ $description }}" />
    <meta name="twitter:description" content="{{ $description }}" />
  {{ end }}

  {{ if .Params.image }}
    <meta property="og:image" content="{{ absURL .Params.image }}" />
    <meta name="twitter:image" content="{{ absURL .Params.image }}" />
  {{ end }}

  <meta name="twitter:card" content="summary_large_image" />
{{ end }}

{{ if eq .Type "publication" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ScholarlyArticle",
  "headline": {{ .Title | jsonify }},
  "datePublished": {{ .Date.Format "2006-01-02" | jsonify }},
  "url": {{ .Permalink | jsonify }},
  "description": {{ .Params.abstract | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Laurent Perrinet",
    "identifier": "http://orcid.org/0000-0002-9536-010X"
  },
  {{ with .Params.doi }}"sameAs": "https://doi.org/{{ . }}"{{ end }}
}
</script>
{{ end }}
