<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ScholarlyArticle",
  "headline": {{ .Title | jsonify }},
  "author": [{{ range $i, $a := .Params.authors }}{{ if $i }},{{ end }}{{ $a | jsonify }}{{ end }}],
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "identifier": {
    "@type": "PropertyValue",
    "propertyID": "DOI",
    "value": {{ .Params.doi | jsonify }}
  },
  "isPartOf": {
    "@type": "Periodical",
    "name": {{ .Params.publication | jsonify }}
  },
  "url": "{{ .Permalink }}"
}
</script>
{{/* 
{{ if eq .Type "publication" }}
<meta name="citation_title" content="{{ .Title }}">
{{ range .Params.authors }}
<meta name="citation_author" content="{{ . }}">
{{ end }}
<meta name="citation_publication_date" content="{{ .Date.Format "2006/01/02" }}">
{{ with .Params.publication }}
<meta name="citation_journal_title" content="{{ . }}">
{{ end }}
{{ with .Params.doi }}
<meta name="citation_doi" content="{{ . }}">
{{ end }}
{{ end }} */}}